.wrapper .sender-subs-embeded-form {
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-hover-bg);
  border-width: 2px 0;
  margin-bottom: 8rem;
  margin-left: -3rem;
  width: calc(100% + 6rem)  !important;
  text-align: center;

  &, * {
    font-family: 'Crimson Text', serif!important;
    line-height: 1.5;
    color: var(--color-text);
  }

  h4 {
    font-weight: bold;
    font-size: 2.4rem !important;
    margin-bottom: 0 !important;
  }


  form > div:last-child {
    display: none;
  }

  .sender-form-title p:first-child:before {
    content: '🤯 '
  }

  .sender-form-title p:first-child:after {
    display: block;
    content: 'We collect new ideas & frameworks to improve the lives of you & others. Join our weekly newsletter for practical ways to shift your perspective.';
    font-size: 2.4rem;
    font-weight: normal;
  }

  .sender-form-box {
    width: 50rem!important;
    padding-bottom: 4rem;
    border: none!important;
  }

  input {
    height: 6rem;
    background: transparent;
    text-align: center;
    border: 2px solid var(--color-input-border)!important;
    font-size: 2.4rem!important;
  }

  button {
    color: var(--color-bg);
    font-size: 2.4rem;
  }

  label {
    display: none;
  }

  .subscription-thank-you {
    text-align: center;
  }
}
