.tag {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-bg);
  height: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
  line-height: 2.3;
  max-width: 20rem;

  & + & {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  &.beige { background-color: var(--color-beige); }
  &.purple { background-color: var(--color-purple); }
  &.red { background-color: var(--color-red); }
  &.blue { background-color: var(--color-blue); }
  &.orange { background-color: var(--color-orange); }
  &.green { background-color: var(--color-green); }
  &.yellow { background-color: var(--color-yellow); }
  &.turquoise { background-color: var(--color-turquoise); }
  &.coral { background-color: var(--color-coral); }

  &.draft { background-color: var(--color-red); }
  &.intro {
    background-color: var(--color-intro);
    &::before { content: '👋 ' }
  }
  &.beginner {
    background-color: var(--color-beginner);
    &::before { content: '🌱 ' }
  }
  &.intermediate {
    background-color: var(--color-intermediate);
    &::before { content: '😎 ' }
  }
}
