.tag {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-bg);
  height: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
  line-height: 2.3;
  max-width: 20rem;

  & + & {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  &.intro {
    background-color: #615858;
    &::before { content: '👋 ' }
  }
  &.draft { background-color: var(--color-red); }
  &.beginner {
    background-color: var(--color-beginner);
    &::before { content: '🌱 ' }
  }
}
