.tags {
  text-align: center;
  margin-bottom: 3rem;
}

footer {
  text-align: center;
  background: var(--color-hover-bg);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin: 0 -3rem;
  padding-bottom: 2rem;

  a {
    padding: 6rem 3rem 0 3rem;
    display: block;
    h2 {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}


.disclaimer, .toc {
  font-style: italic;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 3rem 6rem;
  background: var(--color-hover-bg);
  margin-bottom: 3rem;

  h2,h3,h4 {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  img + & {
    margin-top: 4rem;
  }
}

.toc {
  border-left: 4px solid var(--color-yellow);
  border-radius: var(--border-radius);
  background: var(--color-yellow-bg);
  line-height: 1.5;
}


main > p:first-of-type:first-letter {
  font-size: 3.6em;
  float: left;
  line-height: 4;
  margin-right: 1rem;
  margin-top: 1.2rem;
}
