h1 {
  text-align: center;
}
h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 6rem;
}

p {
  line-height: 1.6;
  margin-bottom: 3rem;
}

.tags {
  text-align: center;
  margin-bottom: 3rem;
}

main img {
  max-width: calc(100% + 6rem);
  margin-left: -3rem;
  margin-right: -3rem;
  border-radius: var(--border-radius);

  & + em {
    display: block;
    text-align: center;
  }
}


footer {
  text-align: center;
  background: var(--color-hover-bg);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin: 0 -3rem;
  margin-top: 16rem;
  padding-bottom: 2rem;

  a {
    padding: 6rem 3rem 0 3rem;
    display: block;
    h2 {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}
