@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import 'reset';
@import 'type';
@import 'sidebar';
@import 'tags';
@import 'color';
@import 'night-toggle';
@import 'signup';


* { box-sizing: border-box; }

:root {
  --color-primary: #242427;
  --color-bg: #e9e5e5;

  --color-beige: #aa856d;
  --color-purple: #a231ff;
  --color-red: #f55e5e;
  --color-blue: #0f7fff;
  --color-orange: #ec7c13;
  --color-green: #07c747;
  --color-yellow: #c0b01b;
  --color-yellow-bg: #{rgba(#c0b01b, 0.1)};
  --color-turquoise: #0eabc0;
  --color-coral: #da6c8d;

  --color-intro: #615858;
  --color-beginner: #216844;
  --color-intermediate: #68213c;
  --color-i: #f14f40;
  --color-we: #4340f1;
  --color-practical: #dc40f1;

  --color-input-border: #{rgba(#242427, 0.2)};
  --color-hover-bg: #{rgba(#242427, 0.05)};
  --wrapper-width: 60rem;
  --sidebar-gap: 10rem;
  --sidebar-width: 20rem;
  --border-radius: 4px
}

html {
  font-family: 'Crimson Text', serif;
  font-size: 7px;
  @media (min-width: 600px) { font-size: 8px; }
  @media (min-width: 720px) { font-size: 9px; }
  @media (min-width: 1024px) { font-size: 10px; }
  background-color: var(--color-bg);
  --color-text: var(--color-primary);
  color: var(--color-text);
  transition: all 0.2s;

  &.night {
    background-color: #242427;
    --color-text: var(--color-bg);
    --color-hover-bg: #{rgba(#e9e5e5, 0.05)};
    --color-input-border: #{rgba(#e9e5e5, 0.2)};
  }
}

body {
  font-size: 2.4rem;
  padding: 4rem;
  padding-bottom: 0;
}

.wrapper {
  max-width: var(--wrapper-width);
  margin: auto;
  margin-top: 8rem;
}

main {
  margin-bottom: 16rem;

  h1 {
    text-align: center;
  }
  h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 6rem;
  }

  img {
    width: calc(100% + 6rem);
    margin-left: -3rem;
    margin-right: -3rem;
    border-radius: var(--border-radius);

    & + em {
      display: block;
      text-align: center;
    }
  }

  ul {
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: 3rem;
    li {
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    background-color: var(--color-hover-bg);
    border: 0;
    margin: 8rem 0;
  }
}



button {
  font-family: 'Crimson Text', serif;
  height: 4rem;
  line-height: 4rem;
  background-color: var(--color-red);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 2.4rem;
  padding: 0 2rem;
  font-weight: bold;
}

input {
  font-family: 'Crimson Text', serif;
  height: 4rem;
  background: transparent;
  text-align: center;
  border: 2px solid var(--color-input-border);
  border-radius: var(--border-radius);
  font-size: 1.8rem;
}
