ul {
  margin-top: -1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;

  &.flip {
    flex-direction: column-reverse;
  }
}

ul li {
  display: flex;
  padding: 2rem;
  border-radius: var(--border-radius);

  a {
    text-decoration: none;
  }

  & > div {
    margin-top: 0.5rem;
    text-align: right;
    margin-left: auto;
    padding-left: 2rem;
    time {
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 1.8rem;
    }
    .tags {margin-top: 1rem;}
  }

  h2 {
    text-decoration: underline;
    flex: 1;
  }
  small {
    margin-top: 1rem;
    flex-basis: 100%;
  }

  &:hover {
    background: var(--color-hover-bg);
    opacity: 1;
  }
}



h1 {
  text-align: center;
  margin-bottom: 2rem;

  .tag {
    margin-left: 1rem;
    transform: translateY(-0.25rem);
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  margin-bottom: 8rem;
  font-style: italic;
}


#btn-sort {
  display: block;
  background: none;
  color: currentColor;
  margin-left: auto;
  margin-bottom: 2rem;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:after { content: '👇' }
  &.flip:after { content: '☝️' }
}
