ul {
  margin-top: -1rem;
  margin-bottom: 16rem;
}

ul li {
  display: flex;
  padding: 2rem;
  border-radius: var(--border-radius);

  a {
    text-decoration: none;
  }

  & > div {
    margin-top: 0.5rem;
    text-align: right;
    margin-left: 2rem;
    time {
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 1.8rem;
    }
    .tags {margin-top: 1rem;}
  }

  h2 {
    text-decoration: underline;
    flex: 1;
  }
  small {
    margin-top: 1rem;
    flex-basis: 100%;
  }

  &:hover {
    background: var(--color-hover-bg);
    opacity: 1;
  }
}



h1 {
  text-align: center;
  margin-bottom: 2rem;
   .tag {
    margin-left: 1rem;
    transform: translateY(-1rem);
  }
}
