---
ogtype:  website
---

{% layout "base" %}


{% block css %}
  <link rel="stylesheet" href="/index.css" />
{% endblock %}

{% block main %}
  <ul>
  {% comment %} {% for a in pagination.items -%}
    <li>{{ a.url }}</li>
  {% endfor -%} {% endcomment %}
  {% for a in collections.articles reversed %}
    <li>
      <a href={{a.url}}>
        <h2>{{a.data.title}}</h2>
        <time>{{a.date | date: "%b %d, %Y" }}</time>
        <small>{%- excerpt a-%}</small>
      </a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
