---
ogtype:  website
eleventyExcludeFromCollections: true
---

{% layout "base" %}


{% block css %}
  <link rel="stylesheet" href="/index.css" />
{% endblock %}

{% block main %}

  <ul>
  {% for a in collections.articles reversed %}
    <li>
      <a href={{a.url}}>
        <h2>{{a.data.title}}</h2>
        <small>{%- excerpt a -%}</small>
      </a>
      <div>
        <time>{{a.date | date: "%b %d, %Y" }}</time>
        {{ a.data.tags | tagList }}
      </div>
    </li>
  {% endfor %}
  </ul>

  <script type="text/javascript" src="https://cdn.sender.net/webforms/12720/e4288fc2.js?v=1"></script>

{% endblock %}
