<!DOCTYPE html>
{% if htmlClass %}
  <html class="{{htmlClass}}" lang="en">
{% else %}
  <html lang="en">
{% endif %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    const initialNight = localStorage.getItem('night') === 'true';
    document.documentElement.classList.toggle('night', initialNight);
  </script>

  <!-- Sender.net -->
  <script>
    (function (s, e, n, d, er) {
      s['Sender'] = er;
      s[er] = s[er] || function () {
        (s[er].q = s[er].q || []).push(arguments)
      }, s[er].l = 1 * new Date();
      var a = e.createElement(n),
        m = e.getElementsByTagName(n)[0];
      a.async = 1;
      a.src = d;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
    sender('9b5857e7cf2766')
  </script>

  <link rel="stylesheet" href="/base.css">

  {% include "./seo.liquid" %}
  {% comment %} {% seo "" %} {% endcomment %}

  {% block css %} {% endblock %}
  {% if css %}
    {% for link in css %}
      <link rel="stylesheet" href="{{link}}">
    {% endfor %}
  {% endif %}

</head>
<body>
  <div class="wrapper">
    {% include "./sidebar" %}
    {% include "./night-toggle" %}
    {% block main %}{% endblock main %}
  </div>
</body>
</html>
