{% layout "base" %}


{% block main %}
  <main>
    <h1>{{title}}</h1>
    {{content}}
  </main>

  <script type="text/javascript" src="https://cdn.sender.net/webforms/12720/e4288fc2.js?v=1"></script>
{% endblock %}
