<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/base.css">

  {% include "./seo.liquid" %}
  {% comment %} {% seo "" %} {% endcomment %}

  {% block css %} {% endblock %}

</head>
<body>
  <div class="wrapper">
    <aside>
      <a href="/" class="logo">
        <img src="/img/logo.svg" alt="A Matter of Perspective">
        <span>A Matter of <br> Perspective.</span>
      </a>
      {% if draft %}
        <span class="draft"><span>DRAFT</span></span>
      {% endif %}

      {{seo.author}}
    </aside>
    {% block main %}
    {% endblock main %}
  </div>
</body>
</html>
